fieldset {
  margin:0;
  padding:0;
  border:0;
}

input[type="text"],
input[type="email"],
textarea
{
  padding: rem(10);
  height:rem(42);
  box-sizing: border-box;
  width: 100%;
  
  @include appearance(none);  
  border: 4px solid color(2);
  background: color(4);
  background-color: color(4);

  color:color(5);
  font-size: rem(14);

  &:focus {
    outline: 0;
    border-width:4px;
    border-color: color(3) !important;  //more important than error
  }
}

textarea {
  height:rem(240);
}